/tmp
/out-tsc

/node_modules
**/node_modules
.pnpm-store
dist
**/dist
build
.next
**/.next
coverage
**/tsconfig.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
/.pnp
.pnp.js

.vscode/*
.env
.env.*
!.env.example
!apps/**/.env.example
!packages/**/.env.example
